<body>
  <header>
    <div id="navBarWrapper">
      <ul id="navBar">
        <li><a class="navLinks" id="home" href="/">home</a></li>
        <li><a class="navLinks" id="gcsFeed" href="/gramfeed">gcs feed</a></li>
        <li><a class="navLinks" id="myFeed" href="/grams">my feed</a></li>
        <li><a class="navLinks" id="search" href="/search">search</a></li>
      </ul>
    </div>
  </header>
