  <div id="navBarWrapper">
    <div id="navBar">
      <div><a class="navLinks" id="home" href="/">home</a></div>
      <div><a class="navLinks" id="gcsFeed" href="/gramfeed">gcs feed</a></div>
      <div><a class="navLinks" id="myFeed" href="/grams">my feed</a></div>
      <div><a class="navLinks" id="search" href="/search">search</a></div>
    </div>
  </div>
</header>
