<% include ./partials/boilerplate %>
<% include ./partials/header %>

  <main id="indexPage">
    <div id="centerContent">
      <div id="homeLogo">
        <h1 class="homeLogoWord">Gram</h1>
        <h1 class="homeLogoWord">Central</h1>
        <h1 class="homeLogoWord">Station</h1>
      </div>
      <a href="/grams"><button id="startButton">START</button></a>
    </div>
  </main>

<% include ./partials/end %>
