<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gram Central Station</title>
  <link rel="stylesheet" type="text/css" href="../public/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Quicksand" rel="stylesheet">
</head>
<body>
  <header>
<!--     <div id="gcsLogo"></div> -->
    <div id="navBarWrapper">
      <ul id="navBar">
        <li class="navLinks" id="home" href="#">home</li>
        <li class="navLinks" id="gcsFeed" href="#">gcs feed</li>
        <li class="navLinks" id="myFeed" href="#">my feed</li>
        <li class="navLinks" id="search" href="#">search</li>
      </ul>
    </div>
  </header>
  <main>
    <div id="addNewWrapper">
      <button id="addNew">ADD NEW</button>
    </div>
    <div class="feedWrapper">
      <div id="gramObjectSmall">
        <div id="gramWrapperSmall">
          <div id="photoHeadSmallWrapper">
            <div id="photoHeadSmall"></div>
            <div id="deleteX">X</div>
          </div>
          <div class="descriptionSmall" id="photoSmall"></div>
          <div class="descriptionSmall" id="locationSmall">LOCATION</div>
          <div class="descriptionSmall" id="statusSmall">STATUS</div>
          <div class="descriptionSmall" id="typeSmall">TYPE</div>
        </div>
        <button id="view">VIEW</button>
      </div>
    </div>
  </main>
</body>
</html>
