<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>
  <main>
  <form method='POST' action='/grams'>
    <div class="largeWrapper">
      <div id="gramObjectLarge">
        <div id="gramWrapperLarge">
          <div id="photoHeadLargeWrapper">
              <div id="photoHeadLarge">

              </div>
            </div>
            <div class="descriptionSmall" id="photoLarge">
              <input name="photo" type="text" placeholder="URL here. Please make sure URL has a photo tag, such as .jpg, .png. or .gif" />
            </div>
            <div class="descriptionSmall" id="locationLarge">
              <input name="location" type="text" placeholder="location" />
            </div>
            <div class="descriptionSmall" id="statusLarge">
              <input name="status" type="text" placeholder="status" >
            </div>
            <div class="descriptionSmall" id="typeLarge">
              <select name="type" type="text">
                <option value="1">treat</option>
                <option value="2">meal</option>
                <option value="3">location</option>
                <option value="4">activity</option>
              </select>
          </div>
        </div>
      </div>
      <div id="buttonDiv">
          <input class="saveButton" type="submit" value="save" />
      </div>
    </div>
  </main>
<% include ./partials/end %>





