<% include ./partials/boilerplate %>
<% include ./partials/header %>
<main>
  <h1 id="searchHead">Search For Grams!</h1>
  <div id="submitField">
    <input name="food" id="foodSearch" type="text" placeholder="Type a food or place" />
    <input name="location" id="locationSearch" type="text" placeholder="Location, i.e. Brooklyn, NY" />
      <div id="buttonAPIwrap">
        <button id="searchAPIbutton">SEARCH</button>
      </div>
  </div>
  <div>
    <div id="searchLocation"></div>
    <div id="searchAddress"></div>
    <div id="searchPhone"></div>
    <div id="searchWebsite"></div>
    <div id="searchType"></div>
</main>
<% include ./partials/end %>
