<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>
<main>
  <div id="searchWrapper">
    <div id="searchFieldWrapper">
      <h1 id="searchHead">Search for Grams</h1>
      <div id="submitField">
        <input name="food" class="searchFields" id="foodSearch" type="text" placeholder="Type a food or place" />
        <input name="location" class="searchFields" id="locationSearch" type="text" placeholder="Location, i.e. Brooklyn, NY" />
      </div>
        <div id="buttonAPIwrap">
          <button id="searchAPIbutton">SEARCH</button>
        </div>
      <div id="searchResults">
      </div>
    </div>
  </div>
</main>
<% include ./partials/end %>
