<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gram Central Station</title>
  <link rel="stylesheet" type="text/css" href="../public/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Quicksand" rel="stylesheet">
</head>
<body>
  <header>
<!--     <div id="gcsLogo"></div> -->
    <div id="navBarWrapper">
      <ul id="navBar">
        <li class="navLinks" id="home" href="#">home</li>
        <li class="navLinks" id="gcsFeed" href="#">gcs feed</li>
        <li class="navLinks" id="myFeed" href="#">my feed</li>
        <li class="navLinks" id="search" href="#">search</li>
      </ul>
    </div>
  </header>
  <main>
    <div id="centerContent">
      <div id="homeLogo">
        <h1 class="homeLogoWord">Gram</h1>
        <h1 class="homeLogoWord">Central</h1>
        <h1 class="homeLogoWord">Station</h1>
      </div>
      <a href="#"><button id="startButton">START</button></a>
    </div>
  </main>
</body>
</html>
