<% include ./partials/boilerplate %>

<div id="errorWrapper">
  <div id="wallabyWrapper">
    <div id="wallaby">
    </div>
    <div id="flash">
    </div>
  </div>
  <div id="errorTextWrapper">
    <div id="errorHeader">
      <h1>404</h1>
    </div>
    <div id="errorText">
      <h3>Crikey! Looks like we lost a page.</h3>
    </div>
  </div>
</div>

<% include ./partials/end %>
