/*font-family: 'Quicksand', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Fjalla One', sans-serif;
*/
button {
/*  position: relative;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 10px;
}

/*header*/

#navBarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
/*  position: relative;*/
}

#navBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navLinks {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  display: inline;
  background-color: lightyellow;
  margin: 10px;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
}

.navLinks:hover {
  color: hotpink;
}

/*home page main content*/
.homeLogoWord {
  font-family: 'Lobster', cursive;
  font-size: 120px;
  text-align: center;
  margin: -20px;
}

#centerContent {
  display: flex;
  position: relative;
  flex-direction: column;
/*  border: 1px solid black;*/
  align-items: center;
}

#homeLogo {
  position: relative;
  margin: 50px;
}

/*my feed main content*/
#addNewWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
#gramObjectSmall {
  border: 1px solid gray;
  width: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px 0;
}
.feedWrapper {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#gramWrapperSmall {
/*  border: 1px solid black;*/
  width: 200px;
  position: relative;

}
#photoHeadSmallWrapper {
/*  border: 1px solid black;*/
  display: flex;
  position: relative;
  width: 200px;
  justify-content: space-between;
  background-color: lightblue;

}
#photoHeadSmall {
  height: 25px;
  position: relative;

}
#deleteX {
/*  border: 1px solid black;*/
  position: relative;
  background-color: lightblue;
  font-family: 'Quicksand', sans-serif;
  padding: 2px;
  height: 25px;
  width: 25px;

}
.descriptionSmall {
/*  border: 1px solid black;*/
  width: 200px;
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
  position: relative;
  margin: auto;
}
#photoSmall {
  height: 200px;
/*  border: 1px solid black;*/
}

#locationSmall{
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}
#statusSmall {
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}
#typeSmall{
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}
#buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
}

#view {
  border: 1px solid black;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
#edit {
  border: 1px solid black;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*add item page*/

#gramObjectLarge {
  border: 1px solid black;
  width: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.largeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
/*  border: 1px solid black;*/
  justify-content: center;
  margin: 5px;
}

#gramWrapperLarge {
/*  border: 1px solid black;*/
  width: 350px;
  position: relative;

}
#photoHeadLargeWrapper {
/*  border: 1px solid black;*/
  display: flex;
  position: relative;
  width: 350px;
  justify-content: space-between;
  background-color: lightblue;

}
#photoHeadLarge {
  height: 40px;
  position: relative;
}

.descriptionLarge {
/*  border: 1px solid black;*/
  width: 350px;
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
  position: relative;
}
#photoLarge {
  height: 350px;
/*  border: 1px solid black;*/
}

#locationLarge{
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}
#statusLarge {
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}
#typeLarge{
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}
#view {
  border: 1px solid black;
  position: relative;
  margin-top: 10px;
}

