/*font-family: 'Quicksand', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Fjalla One', sans-serif;
*/

/*GENERAL STYLING*/

button {
/*  position: relative;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}




/*404 PAGE*/

#errorWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}

#wallabyWrapper {
  display: flex;
/*  border: 1px solid black;*/
  width: 800px;
  height: 600px;
}

#wallaby {
  background-image: url(../assets/wallaby.png);
  height: 600px;
  width: 400px;
/*  border: 1px solid black;*/
  background-repeat: no-repeat;
}

#flash {
  background: lightyellow;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  margin-top: 329px;
  margin-left: 83px;
  animation: flash 2s infinite;
}

@keyframes flash {
  0%, 100% {opacity: 0;}
  50% {opacity: 1;}
}

#errorTextWrapper {
  display: flex;
  flex-direction: column;
/*  border: 1px solid black;*/
  width: 400px;
  margin: 30px;
}

#errorHeader {
  font-family: 'Lobster', cursive;
  font-size: 70px;
/*  border: 1px solid black;*/
  margin-bottom: -80px;
  width: 400px;
}

#errorText {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  width: 400px;
}




/*HEADER*/

#logoHeaderWrapper {
  display: flex;
  justify-content: center;
}

#logoHeader {
  font-family: 'Lobster', cursive;
}

#navBarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
/*  border: 1px solid black;*/
  justify-content: center;
  background-color: rgb(144,144,144);
  height: 50px;
}

#navBar {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

.navLinks {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  display: inline;
  background-color: rgb(88,193,185);
  padding: 5px 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
}

.navLinks:hover {
  background-color: rgb(241,89,42);
}



/*HOME PAGE MAIN CONTENT*/
.homeLogoWord {
  font-family: 'Lobster', cursive;
  font-size: 120px;
  text-align: center;
  margin: -20px;
}

#centerContent {
  display: flex;
  position: relative;
  flex-direction: column;
/*  border: 1px solid black;*/
  align-items: center;
}

#homeLogo {
  position: relative;
  margin: 50px;
  width: 400px;
  background-color: rgba(18,168,157,.5);
  border-radius: 25px;
}

#indexPage {
  background-image: url(../assets/photographers.png);
  background-size: cover;
}

#startButtonWrapper {
  height: 100px;
}

#startButton {
  margin-bottom: 100px;
  background-color: rgb(18,168,157);
  width: 150px;
  height: 50px;
  font-size: 20px;
  color: white;
}



/*MY FEED MAIN CONTENT*/

#addNewWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#gramObjectSmall {
/*  border: 1px solid gray;*/
  width: 230px;
  height: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgb(252,252,252);
  box-shadow: 3px 3px 4px -2px rgba(0,0,0,0.19);
  transition: box-shadow 0.3s ease-in-out;
}

#gramObjectSmall:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.feedWrapper {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#gramWrapperSmall {
/*  border: 1px solid black;*/
  width: 230px;
  position: relative;
}

#photoHeadSmallWrapper {
/*  border: 1px solid black;*/
  display: flex;
  position: relative;
  width: 230px;
  height: 28px;
  justify-content: space-between;
  background-color: rgba(18,168,157,.7);
  border-radius: 5px 5px 0 0;
}

#photoHeadSmall {
  height: 25px;
  position: relative;
}

#deleteX {
/*  border: 1px solid black;*/
  position: relative;
  font-family: 'Quicksand', sans-serif;
  padding: 2px;
  height: 25px;
  width: 25px;
  margin-right: 4px;
  background: none;
  border: none;
}

#deleteX:hover {
  color: white;
}

.descriptionSmall {
/*  border: 1px solid black;*/
  width: 200px;
  font-family: 'Quicksand', sans-serif;
  padding: 5px;
  position: relative;
  margin: auto;
}

#photoSmall {
  height: 200px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  max-width: 200px;
  max-height: 200px;
/*  border: 1px solid black;*/
}

#locationSmall {
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}

#statusSmall {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
/*  border: 1px solid black;*/
}

#typeSmall {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
/*  border: 1px solid black;*/
}

#commentsSmall {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
/*  border: 1px solid black;*/
  position: relative;
}

.myFeedButtons {
  border: 1px solid black;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  width: 80px;
  box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.8);
}

.myFeedButtons:hover {
  background-color: rgb(241,89,42);
}




/*ADD ITEM PAGE*/

#gramObjectLarge {
/*  border: 1px solid black;*/
  width: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(252,252,252);
  box-shadow: 6px 6px 4px -2px rgba(0,0,0,0.19);
}

.largeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
/*  border: 1px solid black;*/
  justify-content: center;
  margin: 5px;
}

#gramWrapperLarge {
/*  border: 1px solid black;*/
  width: 350px;
  position: relative;
}

#photoHeadLargeWrapper {
/*  border: 1px solid black;*/
  display: flex;
  position: relative;
  width: 350px;
  justify-content: space-between;
  background-color: rgba(18,168,157,.7);
  border-radius: 10px 10px 0 0;
}

#photoHeadLarge {
/*  border: 1px solid black;*/
  height: 40px;
  position: relative;
}

.descriptionLarge {
/*  border: 1px solid black;*/
  width: 330px;
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  position: relative;
}

.addItemInputs {
  width: 320px;
  height: 30px;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

#typeLarge {
  font-family: 'Quicksand', sans-serif;
  width: 320px;
  height: 30px;
  font-size: 14px;
/*  border: 1px solid black;*/
}

.saveButton {
  margin: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
}

#view {
/*  border: 1px solid black;*/
  position: relative;
  margin-top: 10px;
}




/*EDIT PAGE*/

.addForm {
  width: 330px;
  margin: 5px;
  height: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

#typeLarge {
  display: flex;
  height: 20px;
}

#editDrop {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  width: 330px;
}



/*VIEW SINGLE PAGE*/
#editSingle {
  margin: 10px;
  position: relative;
}

#buttonSingleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
/*  border: 1px solid black;*/
  position: relative;
}

#deleteSingle {
  position: relative;
}




/*API SEARCH PAGE*/

#searchHead {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  text-align: center;
}

#searchWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#searchFieldWrapper {
  position: relative;
  align-items: center;
  justify-content: center;
}

.searchFields {
  height: 30px;
  margin: 2px;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
}

#submitField {
  display: flex;
  flex-direction: column;
}

#buttonAPIwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

#searchResults {
/*  border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.resultCont {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  list-style: none;
  border: 1%;
  border-radius: 5px;
  background-color: rgb(252,252,252);
  width: 70%;
  height: 70%;
  flex: 1;
  padding-right: 30px;
  box-shadow: 3px 3px 4px -2px rgba(0,0,0,0.19);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.resultCont:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transform: scale(1.05, 1.05);
}

.searchLocation {
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}

.searchAddress {
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}

.searchPhone {
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}

.searchWebsite {
  font-family: 'Quicksand', sans-serif;
/*  border: 1px solid black;*/
}



